<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  
  <!--
  <p>
    <%#= f.label :email, "Email Address" %><br />
    <%#= f.text_field :email %>
  </p>
  -->
  
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  
  <p>
    <%= f.label :fname,"ชื่อ" %><br />
    <%= f.text_field :fname %>
  </p>
    
  <p>
    <%= f.label :lname, "นามสกุล" %><br />
    <%= f.text_field :lname%>
  </p>
  
  <p>
    <%= f.label :admin,"Admin" %><br />
    <%= f.check_box(:admin,{},"1","0") %>
  </p>
  
  <p>
    <%= f.label :building_id,"อาคาร" %><br />
    <%= f.collection_select(:building_id,Building.all,:id,:name,:prompt => true) %>
  </p>
  
  <p><%= f.submit (@user.new_record? ? "บันทึก" : "บันทึก") %></p>
<% end %>
